.cc__detail-view {
  &__item {
    padding: 12px 14px;
  }

  &__header {
    position: relative;
    transition: opacity .2s linear;

    padding: 0;

    overflow: hidden;

    &:before {
      display: block;
      content: '';
      padding-top: 30%;

      transition: padding-top .3s ease-in-out;
    }

    &:hover {
      opacity: 0.9;
    }

    &--expanded {
      &:before {
        padding-top: 100%;
      }
    }

    &__wrapper {
      position: absolute;
      display: flex;

      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      align-items: center;

      width: 100%;
      height: 100%;
    }
  }

  &__footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}