//.accordion--open.accordion:not(.accordion--wrapped)>.accordion__head {
//  height: unset;
//  min-height: 38px;
//}
//
//.accordion.accordion--open {
//
//  &>.accordion__head, &>.accordion__item {
//    height: unset;
//    min-height: 32px;
//  }
//
//  &>.accordion__head>.accordion__head__title {
//    word-break: break-word;
//    white-space: normal;
//  }
//
//}
//
//.accordion__head .accordion__head__icon, .accordion__item .accordion__head__icon {
//  margin-top: 4px;
//  align-self: flex-start;
//
//  .accordion--wrapped & {
//    margin-top: 8px;
//  }
//}


.accordion__head.accordion__head__multiline {
  padding: 4px 0;
  transition: max-height 300ms, min-height 300ms;
  will-change: max-height, min-height;
  height: unset !important;
  min-height: 32px;
  max-height: 32px;
  align-self: flex-start;

  .accordion>&>.accordion__head__title, .accordion>&>.accordion__head__right {
    align-self: flex-start;
  }

  .accordion.accordion--open>& {
    min-height: 38px;
    max-height: 160px;
    overflow: hidden;

    &>.accordion__head__title {
      word-break: break-word;
      white-space: normal;
    }
  }

  .accordion.accordion--wrapped.accordion--open>& {
    min-height: 40px;
  }

}
