{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "chrome": "58",
          "ie": "11"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "transform-react-remove-prop-types",
    "@babel/plugin-proposal-class-properties",
    [
      "transform-imports",
      {
        "@fortawesome/free-solid-svg-icons": {
          "transform": "@fortawesome/free-solid-svg-icons/${member}",
          "preventFullImport": true
        },
        "@fortawesome/free-regular-svg-icons": {
          "transform": "@fortawesome/free-regular-svg-icons/${member}",
          "preventFullImport": true
        },
        "@fortawesome/free-brands-svg-icons": {
          "transform": "@fortawesome/free-brands-svg-icons/${member}",
          "preventFullImport": true
        }
      }
    ]
  ]
}
