{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 3 versions"
          ]
        },
        "modules": false
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": []
}