{
  "env": {
    "browser": true,
    "jquery": false,
    "es6": true
  },
  "globals": {
    "chayns": true,
    "__DEV__": true,
    "__QA__": true,
    "__LIVE__": true
  },
  "parser": "babel-eslint",
  "rules": {
    "max-len": "off",
    "linebreak-style": "off",
    "indent": "off",
    "strict": 0,
    "comma-dangle": "off",
    "import/no-extraneous-dependencies": "off",
    "react/jsx-tag-spacing": "off",
    "react/jsx-indent": "off",
    "react/jsx-indent-props": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "react/no-danger": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "no-underscore-dangle": "off",
    "jsx-a11y/href-no-hash": "off",
    "array-callback-return": "off",
    "arrow-body-style": "off",
    "keyword-spacing": "off",
    "jsx-a11y/label-has-for": "off"
  },
  "extends": "airbnb"
}