{
  "env": {
    "browser": true,
    "jquery": false,
    "es6": true
  },
  "globals": {
    "chayns": true,
    "__DEV__": true,
    "__QA__": true,
    "__LIVE__": true
  },
  "parser": "babel-eslint",
  "rules": {
    "max-len": "off",
    "linebreak-style": "off",
    "indent": ["error", 4],
    "strict": 0,
    "import/no-extraneous-dependencies": "off",
    "react/jsx-indent": ["error", 4],
    "react/jsx-indent-props": ["error", 4],
    "jsx-a11y/no-static-element-interactions": "off",
    "react/no-danger": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "no-underscore-dangle": "off",
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/mouse-events-have-key-events": "off",
    "react/forbid-prop-types": [2, { "forbid": ["any"] }]
  },
  "extends": "airbnb"
}
