.cc__amount-control {
  display: flex;
  padding: 0;
  overflow: hidden;
  width: auto;
  .accordion__head & {
    line-height: 24px;
    height: 24px;
  }
  &__remove, &__add {
    width: 0;
    opacity: 0;
    line-height: 27px;
    .accordion__head & {
      line-height: 24px;
    }
    transition: all 0.2s ease-out;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.2);
  }
  &__input {
    width: 55px;
    line-height: 27px !important;
    height: 27px !important;
    .accordion__head & {
      line-height: 24px !important;
      height: 24px !important;
    }
    text-align: center;
    padding: 0;
  }
  &__button {
    padding: 0 10px;
    min-width: 55px;
    background-color: rgba(0, 0, 0, 0.0);
  }
  .cc__amount-control--icon {
    width: 27px;
    .accordion__head & {
      width: 24px;
    }
    opacity: 1;
  }
  &--active {
    .cc__amount-control {
      &--icon {
        width: 40px !important;
        opacity: 1;
        &:hover:not(.disabled) {
          background-color: rgba(255, 255, 255, 0.0);
        }
      }
      &__button {
        &:hover:not(.disabled) {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }

  }
}