.cc__amount-control {
  display: flex;
  padding: 0;
  overflow: hidden;
  width: auto;
  &__remove, &__add {
    width: 0px;
    line-height: 27px;
    transition: width 0.2s ease-out;
    overflow: hidden;
    background-color: rgba(255,255,255,0.2);
  }
  &__input {
    &:not(cc__amount-control--active) {
      display: none;
      width: 55px;
      top: 0;
    }
  }
  &__button {
    padding: 0 5px;
    width: 55px;
    background-color: rgba(0,0,0,0.0);
  }
  .cc__amount-control--icon{
    width: 27px;
  }
  &--active{
    .cc__amount-control{
      &--icon{
        width: 40px;
        &:hover{
          background-color: rgba(255,255,255,0.0);
        }
      }
      &__button {
        &:hover{
          background-color: rgba(0,0,0,0.1);
        }
      }
    }

  }
}