.button--filter {
    padding: 3px 14px;
    position: relative;
    margin: 5px 10px 5px 0;
    user-select: none;
    box-shadow: none;
    cursor: pointer;
    white-space: nowrap;

    .label {
        position: relative;
        z-index: 5;
    }

    &--small {
        padding: 2px 10px 1px 10px;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // Background
    &::after {
        content: '';

        // High pixel value to get stadium shape instead of ellipse
        border-radius: 100px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        z-index: 1;
        background-color: currentColor;
        border: 1px solid currentColor;
        transition: opacity 0.08s;
    }

    // Border
    &::before {
        content: '';

        // High pixel value to get stadium shape instead of ellipse
        border-radius: 100px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0.4;
        z-index: 10;
        border: 1px solid currentColor;
        transition: opacity 0.08s;
    }

    &--disabled {
        opacity: 0.5;
        cursor: default;
        pointer-events: none;
    }

    &:hover {
        &::after {
            opacity: 0.2;
        }

        &::before {
            opacity: 0.45;
        }
    }

    &.button--filter--active {
        // Background
        &::after {
            opacity: 0.4;
        }

        // Border
        &::before {
            opacity: 0;
        }
    }

    &__icon:not(:last-child) {
        margin-right: 10px;
    }

    &__input {
        display: none;
    }

    .chayns-color-mode--1 & {
        &:not(.chayns__color--headline) {
            &.button--filter--active {
                // Background
                &::after {
                    opacity: 1;
                }

                // Border
                &::before {
                    opacity: 0;
                }
            }
        }
    }

    .chayns--mobile & {
        &:hover {
            // Background
            &::after {
                opacity: 0;
            }

            // Border
            &::before {
                opacity: 0.4;
            }
        }

        &.button--filter--active:hover {
            // Background
            &::after {
                opacity: 0.4;
            }

            // Border
            &::before {
                opacity: 0;
            }
        }
    }
}
