.button--filter {
    padding: 3px 14px;
    position: relative;
    margin: 5px 10px 5px 0;
    user-select: none;
    box-shadow: none;
    border-radius: 300px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;

    &--small {
        padding: 2px 10px 1px 10px;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // Hintergrund
    &::after {
        content: '';
        border-radius: 300px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        z-index: -1;
        background-color: currentColor;
        border: 1px solid currentColor;
        transition: opacity 0.08s;
    }

    // Kontur
    &::before {
        content: '';
        border-radius: 300px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0.4;
        z-index: 10;
        border: 1px solid currentColor;
        transition: opacity 0.08s;
    }

    &--disabled {
        opacity: 0.5;
        cursor: default;
        pointer-events: none;
    }

    &:hover {
        &::after {
            opacity: 0.2;
        }

        &::before {
            opacity: 0.45;
        }
    }

    &.button--filter--active {
        &::after {
            opacity: 0.4;
        }

        &::before {
            opacity: 0.9;
        }
    }

    &__icon:not(:last-child) {
        margin-right: 10px;
    }

    &__input {
        display: none;
    }
}

.chayns-color-mode--1 {
    .button--filter {
        &:not(.chayns__color--headline) {
            &.button--filter--active {
                &::after {
                    // Hintergrund
                    opacity: 1;
                }

                &::before {
                    // Kontur
                    opacity: 1;
                }
            }
        }
    }
}
