.sharing-bar__item-list {
  text-align: right;

  .sharing-bar__item {
    position: relative;
    display: inline-block;

    width: 30px;
    height: 23px;

    margin-right: 8px;
    margin-top: 8px;

    color: white;
    cursor: pointer;
    transition: background-color ease 0.2s;

    > i {
      position: absolute;
      display: inline-block;

      top: 52%;
      left: 50%;

      transform: translate(-50%, -50%);

      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;

      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }
  }

  .sharing-bar__item-list {
    padding-bottom: 8px;

    line-height: 0;
  }
}
