.wizardHead {
  cursor: default;
  width: 100%;
  &.pointer{
    cursor: pointer !important;
  }
  .number {
    font-family: FontAwesome, sans-serif;
    font-size: 12px;
    opacity: 1;
    width: 18px;
    height: 18px;
    text-align: center;
    transition: all .3s ease-in-out;
    transform: rotate(0) translate3d(0, -2px, 0);
    display: inline-block;
    margin: 0 8px 0 2px;
    &.numberDarkComplete {
      background-color: rgba(255, 255, 255, 0.7);
      color: #000;
    }
    &.numberDarkNotComplete {
      background-color: rgba(255, 255, 255, 0.1);
      color: #fff;
    }
  }
  .title {
    display: inline-block;
  }
}
