.chayns--mobile, .chayns--app {
  .slide__overlay__text > h3 {
    font-size: 20px;
  }

  .slide__overlay__text>p {
    font-size: 18px;
  }
}

.slide__overlay__text {
  p, &--center p, &--left p {
    color: #FFFFFF;
  }

  h3, &--center h3, &--left h3 {
    font-weight: bold;
    color: #FFFFFF;
  }

  &--center, &--left {
    position: absolute;

    color: #FFFFFF;

    text-shadow: 1px 1px 2px rgba(0, 0, 20, 1), 0 0 10px rgba(0, 0, 20, 1);
  }

  &--center {
    top: 50%;
    left: 0;
    right: 0;

    width: 100%;
    transform: translate(0, -50%);

    padding: 15px;

    text-align: center;
  }

  &--left {
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0 7% 5% 7%;
  }
}

.slide__overlay {
  position: absolute;

  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;

  padding: 1px;

  cursor: pointer;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  opacity: 0;
  transition: opacity 1s ease 1.5s;
}

.slide__overlay:not(.slide__overlay--gradient) {
  background-color: rgba(0,0,0,0.5);
}

.slide__overlay--gradient {
  background: -moz-linear-gradient(90deg, rgba(0,15,20,0.6) 15%, rgba(0,15,20,0.15) 48%, rgba(0,15,20,0) 70%);
  background: -webkit-linear-gradient(90deg, rgba(0,15,20,0.6) 15%,rgba(0,15,20,0.15) 48%,rgba(0,15,20,0) 70%);
  background: linear-gradient(top, rgba(0,15,20,0.6) 15%,rgba(0,15,20,0.15) 48%,rgba(0,15,20,0) 70%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000f14', endColorstr='#00000f14',GradientType=0 );

  background-size: 100% 200%;
  background-position: bottom;
}

.swiper-slide-active .slide__overlay {
  opacity: 1;
}