.calendar {
  &__navigation {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    z-index: 50;
  }

  &__navigate {
    position:absolute;
    cursor: pointer;
    opacity: 0.8;

    &.right {
      right: 0;
    }
  }

  &__months {
    position: relative;
    display: flex;
    left: -50%;
    width: 200%;
    height: 100%;
    max-height: 180px;
  }
}

.puffer {
  height: 190px;
}

.month {
  width: 25%;
  height: 100%;
  padding: 0 1rem;
  text-align: center;

  &__title {
    margin-bottom: 0.25rem;
    text-align: center;

    user-select: none;
  }

  &__table {
    display: table;
    width: 100%;
  }
}

.day {
  &__row {
    display: table-row;
  }

  &__item {
    display: table-cell;
    width: 2rem;
    height: 1rem;
    margin: 5em;
    flex-grow: 1;
    text-align: center;
    font-size: 90%;
  }

  &-text {
    font-weight: bold;
  }

  &-out-month {
    opacity: 0.3;
  }
}

.right {
  &-enter {
    transform: translateX(100%);
  }

  &-enter-active {
    transform: translateX(0%);
    transition: transform 300ms ease-in-out;
  }

  &__shown {
    position: absolute;
    left: 50%;
  }

  &__hidden {
    position: absolute;
    left: 75%;
  }
}

.left {
  &-enter {
    transform: translateX(-100%);
  }

  &-enter-active {
    transform: translateX(0%);
    transition: transform 300ms ease-in-out;
  }

  &__hidden {
    position: absolute;
    left: 0;
  }

  &__shown {
    position: absolute;
    left: 25%;
  }
}

@media screen
and (max-width: 450px)
and (orientation: portrait) {
  .calendar__months {
    position: relative;
    display: flex;
    left: -100%;
    width: 400%;
    height: 100%;
  }
}

.is-active {
  opacity: 0.8;
  cursor: pointer;
}

.is-marked {
    opacity: 0.7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0.1em solid;
}
.is-marked-is-highlighted {
    background-color: #228b22;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0.1em solid;
}
.is-selected {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 1;
    font-weight: bolder;
}

.is-deactive {
  opacity: 0.6;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}