.calendar__navigation{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  z-index: 50;
}

.calendar__navigate{
  position:absolute;
  cursor: pointer;
  opacity: 0.8;
}

.calendar__navigate.right{
  right:0;
}

.puffer{
  height: 190px;
}

.calendar__months{
  position: relative;
  display: flex;
  left: -50%;
  width: 200%;
  height: 100%;
}

.month{
  width: 25%;
  height: 100%;
  padding: 0 1rem;
  text-align: center;
}

.right-enter {
  transform: translateX(100%);
}

.right-enter.right-enter-active {
  transform: translateX(0%);
  transition: transform 300ms ease-in-out;
}

.left-enter {
  transform: translateX(-100%);
}

.left-enter.left-enter-active {
  transform: translateX(0%);
  transition: transform 300ms ease-in-out;
}

.left__hidden{
  position: absolute;
  left:0;
}

.left__shown{
  position: absolute;
  left:25%;
}

.right__shown{
  position: absolute;
  left:50%;
}

.right__hidden{
  position: absolute;
  left:75%;
}

@media screen
and (max-width: 450px)
and (orientation: portrait) {
  .calendar__months{
    position: relative;
    display: flex;
    left: -100%;
    width: 400%;
    height: 100%;
  }
}

.month__title{
  margin-bottom: 0.25rem;
  text-align: center;
}

.month__table{
  display: table;
  width:100%;
}

.day__row{
  display: table-row;
}

.day__item{
  display: table-cell;
  width: 2rem;
  height: 1rem;
  margin: 5em;
  flex-grow: 1;
  text-align: center;
  font-size: 90%;
}

.day-text{
    font-weight: bold;
  }
.day-out-month{
    opacity: 0.3;
}


.is-active {
  opacity: 0.8;
  cursor: pointer;
}

.is-marked{
    opacity: 0.7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0.1em solid;
}
.is-marked-is-highlighted{
    background-color: #228b22;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0.1em solid;
}
.is-selected{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 1;
    font-weight: bolder;
}

.is-deactive{
  opacity: 0.6;
}

.noselect{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}