.day__item__content.is-selected{
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius:50%;
  width: 60%;
  height: 60%;
  color:#FFFFFF;
  background-color: var(--chayns-color--primary);
}
