
@font-face {
  font-family: 'Digital';
  src: url('https://chayns-res.tobit.com/API/Fonts/fonts/LiquidCrystal-Normal.otf') format('opentype'),
  url('https://chayns-res.tobit.com/API/Fonts/fonts/liquidcrystal-normal-webfont.woff') format('woff'),
  url('https://chayns-res.tobit.com/API/Fonts/fonts/liquidcrystal-normal-webfont.woff2') format('woff2'); /* Pretty Modern Browsers */
}

.refuel {
  display: flex;
}

.refuel-info {
  display: inline-block;
  overflow: hidden;
  margin: 3px;
  flex-grow: 1;
  flex-basis: 0;
}

.refuel-info__name {
  font-size: 0.7em;
}

.refuel-info {
  cursor: pointer !important;
}

.refuel-counter__container {
  padding: 11px 6px 6px;

  text-align: center;
}

.refuel-counter {
  font-family: 'Digital';
  color: #FFFFFF;
  line-height: 0.8em;

  cursor: pointer !important;
}

.refuel-counter__lower {
  font-size: 1.7em;
}

.refuel-counter__upper {
  font-size: 1.0em;
  vertical-align: top;
  margin-left: 3px;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */

  cursor: default;
}