.cc__tooltip {
  position: relative;
  display: inline;

  &__overlay {
    position: absolute;

    top: -30px;
    left: 0;

    width: 250px;
    padding: 12px;

    opacity: 0;
    transform: translate(0, -100%);

    background-color: #fff;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;

    color: #222222;

    z-index: 9;

    transition: top 500ms, opacity 500ms;

    &:after {
      position: absolute;

      content: '';
      width: 14px;
      height: 14px;
      background-color: #fff;
      bottom: -8px;
      left: 13px;
      z-index: -1;
      transform: rotate(45deg);
      box-shadow: 2px 2px 5px rgba(4, 3, 4, 0.1);
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom-right-radius: 2px;
    }
  }

  &--active {
    .cc__tooltip__overlay {
      opacity: 1;
      top: -10px;
    }
  }
}