$marginBottom: 15px;

.selectlist__selectitem {
  overflow: hidden;
  will-change: max-height;
  max-height: 9999px;
  height: auto !important;

  &.react-fade {
    &-enter {
      max-height: 0;
      transition: max-height 0.5s cubic-bezier(0.5, 0, 1, 0) 0s;
    }

    &-enter-active {
      max-height: 9999px !important;
    }

    &-exit {
      max-height: 9999px;
      transition: max-height 0.5s cubic-bezier(0, 1, 0, 1) -0.2s;
    }

    &-exit-active {
      max-height: 0 !important;
    }
  }

  .selectitem__content {
    margin-left: 20px;
    margin-bottom: $marginBottom;
  }
}