.cc__file-upload {
  opacity: 0.6;
  border-radius: 4px;
  border: 2px dashed;
  cursor: pointer;

  &--custom {
    opacity: 1;
  }

  &--placeholder {
    display: flex;
    height: 60px;

    transition: all .2s;
    justify-content: center;
  }

  &--hover {
    .cc__file-upload__icon {
      animation: cc__file-upload--bounce 1s infinite;
    }
  }

  &__icon {
    &:before {
      font: normal normal normal 24px FontAwesome;
      padding-right: 8px;
    }
  }

  &__message {
  }

  &__icon, &__message {
    align-self: center;
    justify-self: center;
  }

  &:hover, &--hover {
    opacity: 1;
  }

  // Icons
  &--image {
    .cc__file-upload__icon {
      &:before {
        content: '\f03e';
      }
    }
  }

  &--audio {
    .cc__file-upload__icon {
      &:before {
        content: '\f001';
      }
    }
  }

  &--video {
    .cc__file-upload__icon {
      &:before {
        content: '\f008';
      }
    }
  }

  &--documents {
    .cc__file-upload__icon {
      &:before {
        content: '\f0f6';
      }
    }
  }
}

@keyframes cc__file-upload--bounce {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -3px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}