$border: 1px solid rgba(0, 0, 0, .1);
$background-color: #fff;
$color: #545454;
$hover-background-color: #f3f3f3;

.context-menu {
  position: absolute;
  background-color: $background-color;
  z-index: 900;
  opacity: 0;
  transition: opacity 0.35s ease-in-out;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, .3);
  border: $border;
  color: $color;
  &:after {
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    background-color: $background-color;
    box-shadow: -2px -2px 5px rgba(0, 0, 0, .05);
    border-top: $border;
    border-left: $border;
    z-index: -1;
  }
  &__item {
    padding: 5px 8px 5px 5px;
    cursor: pointer;
    &:hover {
      background-color: $hover-background-color;
    }
    &:before {
      width: 20px;
      margin: 0 8px 0 3px;
      display: inline-block;
      text-align: center;
    }
    &[class*=" fa-"]:before {
      font: normal normal normal 14px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }
  }
  &--active {
    opacity: 1;
  }
  &--position0 {
    transform: translate(calc(-100% + 22px), calc(-100% - 9px));
    &:after {
      bottom: -8px;
      right: 14px;
      transform: rotate(225deg);
    }
  }
  &--position1 {
    transform: translate(calc(-100% + 22px), 11px);
    &:after {
      top: -8px;
      right: 14px;
      transform: rotate(45deg);
    }
  }
  &--position2 {
    transform: translate(-21px, 11px);
    &:after {
      top: -8px;
      left: 14px;
      transform: rotate(45deg);
    }
  }
  &--position3 {
    transform: translate(-21px, calc(-100% - 9px));
    &:after {
      bottom: -8px;
      left: 14px;
      transform: rotate(225deg);
    }
  }
  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 899;
    transition: transform 0.35s ease-in-out;
    transform: translateY(20px);
    &--active {
      transform: translateY(0);
    }
    &--hide {
      display: none;
    }
  }
}