.context-menu {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #545454;
}

.context-menu.context-menu--active .context-menu__page-block {
  display: block;
}

.context-menu .context-menu__page-block {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 450;

}

.context-menu.context-menu--active .context-menu__body {
  max-height: 400px!important;
  overflow-y: auto;
  transition: max-height .3s ease-in 0s;
}

.context-menu .context-menu__body {
  position: fixed;
  top: 0;
  z-index: 500;
  max-height: 0;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
  transition: max-height .2s cubic-bezier(0, 1, 0, 1) 0s;
  overflow: hidden;
  transform: translateX(-100%)
}

.context-menu__item-list>li:hover {
  background-color: #6e6e6e;
  color: white;
}

.context-menu__item-list {
  background-color: #fff;
  font-size: 14px;
  min-width: 150px;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,.2);
}
.context-menu__item-list>li:hover {
  background-color: #6e6e6e;
  cursor: pointer;
  color: white;
}
.context-menu__item{
  padding: 5px 10px 5px 7px;
  background-color: #fff;
  cursor: pointer;
  text-align: left;
  transition: background-color .2s linear;
}
.context-menu__item-text{
  margin-left: 5px;
}