.chayns-gallery {
  position: relative;
  width: 100%;

  .gallery-grid{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    height: 100%;
    .gallery_item {
      padding: 1px;
      transition: opacity 0.2s ease;
      cursor: pointer;
      .gallery_item_inner {
        position: relative;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        outline: 1px solid rgba(0, 0, 0, 0.1);
        outline-offset: -1px;
        .deleteIcon{
          position: absolute;
          width: 20px;
          height: 20px;
          line-height: 20px;
          vertical-align: middle;
          text-align: center;
          top: 5px;
          right: 5px;
          text-shadow: 0 0 10px #000;
          font-size: 16px;
        }
      }
      &.deleteMode{
        width: 50% !important;
        height: 100px !important;
      }
      &:hover{
        opacity: 0.9;
      }
      &:nth-child(1) {
        &:nth-last-child(1){
          //Image 1 of 1
          width: 100%;
          height: 100%;
        }
        &:nth-last-child(2){
          //Image 1 of 2
          width: 50%;
          height: 100%;
        }
        &:nth-last-child(3){
          //Image 1 of 3
          width: 100%;
          height: 66.66%;
        }
        &:nth-last-child(4){
          //Image 1 of 4
          width: 100%;
          height: 66.66%;
        }
      }
      &:nth-child(2) {
        &:nth-last-child(1){
          //Image 2 of 2
          width: 50%;
          height: 100%;
        }
        &:nth-last-child(2){
          //Image 3 of 3
          width: 50%;
          height: 33.33%;
        }
        &:nth-last-child(3){
          //Image 2 of 4
          width: 33.33%;
          height: 33.33%;
        }
      }
      &:nth-child(3) {
        &:nth-last-child(1){
          //Image 2 of 3
          width: 50%;
          height: 33.33%;
        }
        &:nth-last-child(2){
          //Image 3 of 4
          width: 33.33%;
          height: 33.33%;
        }
      }
      &:nth-child(4) {
        &:nth-last-child(1){
          //Image 4 of 4
          width: 33.33%;
          height: 33.33%;
        }
        &:nth-last-child(2){
          //Image 2 of 4
          width: 33.33%;
          height: 33.33%;
        }
      }
    }
  }
  .moreImages {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex: 1;
    &:after {
      content: attr(data-more);
      color: #fff;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.75);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      line-height: 3.6;
      text-align: center;
      text-shadow: 0 0 15px #000;
      font-size: 42px;
    }
  }
}