.chayns-gallery {
  position: relative;
  width: 100%;
  .gallery-grid {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    height: 100%;
    margin: -1px;
    margin-top: 0;
    &.delete-mode {
      height: unset !important;
      position: relative;
      .gallery_item {
        background-color: #f0f0f00a;
        width: calc(33.33% - 2px) !important;
        padding-top: calc(33.33% - 2px) !important;
        height: 0;
        position: relative;
        margin: 1px;
        .gallery_item_inner {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }
      }
    }
    .gallery_item {
      padding: 1px;
      transition: opacity 0.2s ease;
      cursor: pointer;
      .gallery_item_inner {
        position: relative;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        outline: 1px solid rgba(0, 0, 0, 0.1);
        outline-offset: -1px;
        .delete-icon {
          color: white;
          position: absolute;
          width: 20px;
          height: 20px;
          line-height: 20px;
          vertical-align: middle;
          text-align: center;
          top: 5px;
          right: 5px;
          text-shadow: 0 0 10px #000;
          font-size: 16px;
        }
      }
      &:hover {
        opacity: 0.9;
      }
      &:not(.delete-mode &) {
        &:nth-child(1) {
          padding-top: 0;
          &:nth-last-child(1) {
            //Image 1 of 1
            width: 100%;
            height: 100%;
          }
          &:nth-last-child(2) {
            //Image 1 of 2
            width: 50%;
            height: 100%;
          }
          &:nth-last-child(3) {
            //Image 1 of 3
            width: 100%;
            height: 66.66%;
          }
          &:nth-last-child(4) {
            //Image 1 of 4
            width: 100%;
            height: 66.66%;
          }
        }
        &:nth-child(2) {
          &:nth-last-child(1) {
            //Image 2 of 2
            width: 50%;
            height: 100%;
            padding-top: 0;
          }
          &:nth-last-child(2) {
            //Image 3 of 3
            width: 50%;
            height: 33.33%;
          }
          &:nth-last-child(3) {
            //Image 2 of 4
            width: 33.33%;
            height: 33.33%;
          }
        }
        &:nth-child(3) {
          &:nth-last-child(1) {
            //Image 2 of 3
            width: 50%;
            height: 33.33%;
          }
          &:nth-last-child(2) {
            //Image 3 of 4
            width: 33.33%;
            height: 33.33%;
          }
        }
        &:nth-child(4) {
          &:nth-last-child(1) {
            //Image 4 of 4
            width: 33.33%;
            height: 33.33%;
          }
        }
      }
    }
  }
  .more-images {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &:after {
      content: attr(data-more);
      color: #fff;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.75);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      text-align: center;
      text-shadow: 0 0 15px #000;
      font-size: 42px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
