.cc__new-slider {
  width: 100%;
  display: flex;
  user-select: none;
  -webkit-user-select: none;

  &--vertical {
    width: 30px;
    height: 300px;
    display: inline-block;

    .cc__new-slider {
      &__label {
        flex-direction: row;
      }

      &__bar {
        margin: 11px 0;
        width: 30px;
        height: 100%;
        flex-direction: row;

        &__track {
          left: 50%;
          transform: translate(-50%, -50%);
          width: 10px;
          height: 100%;

          &__inner {
            bottom: 0;
            width: 100%;
          }
        }

        &__thumb {
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  &--disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &__label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 85%;
  }

  &__bar {
    flex: 1;
    margin: 0 11px;
    position: relative;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--down {
      .cc__new-slider__bar {
        &__track {
          height: 30px;
        }

        &__thumb {
          &__dot {
            border-radius: 3px;
            font-size: 100%;
            height: 30px;
            padding: 0 15px;
            transform: translateY(-35px);
            box-shadow: 0 2px 20px rgba(0, 0, 0, 0.25);
            line-height: 30px;

            &::before {
              opacity: 1;
              bottom: -5px;
            }
          }
        }
      }
    }

    &__track {
      top: 50%;
      position: absolute;
      overflow: hidden;
      border-radius: 100px;
      height: 10px;
      width: 100%;
      transform: translateY(-50%);
      cursor: pointer;
      transition: height 0.2s cubic-bezier(0.45, 0, 0.3, 1.35);

      &__inner {
        height: 100%;
        position: absolute;
      }
    }

    &__thumb {
      position: absolute;
      top: 50%;
      min-width: 30px;
      height: 30px;
      padding: 5px;
      transform: translate(-50%, -50%);
      cursor: pointer;

      &__dot {
        content: " ";
        background-color: #fff;
        border-radius: 100px;
        height: 20px;
        min-width: 20px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
        pointer-events: none;
        padding: 0 8px;
        font-size: 85%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        vertical-align: middle;
        line-height: 20px;
        transition-property: transform, border-radius, font-size, padding, box-shadow, line-height, height;
        transition-duration: 0.2s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.3, 1.35);
        color: #222;

        &::before {
          content: '';
          position: absolute;
          margin: 0 auto;
          height: 10px;
          width: 10px;
          opacity: 0;
          transform: rotate(45deg);
          background-color: inherit;
          pointer-events: none;
          transition: bottom, opacity 0.2s cubic-bezier(0.4, 0, 0.3, 1.35);
        }
      }
    }
  }
}
