.cc__scroll-view {
  display: inline-block;

  &__wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    float: left;
  }

  &__content {
    height: 100%;
    width: calc(100% + 18px);
    padding: 0 0 0 0;
    position: relative;
    overflow: auto;
    box-sizing: border-box;

    &.rtl {
      width: calc(100% + 18px);
      right: auto;
    }
  }

  &__scrollbar {
    position: relative;
    background: rgba(0, 0, 0, 0.1);
    width: 5px;
    border-radius: 3px;
    top: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.25s linear;
  }

  &__scrollbar:hover, &--grabbed .cc__scroll-view__scrollbar {
    background: rgba(0, 0, 0, 0.3);
  }

  &--grabbed, &--grabbed .cc__scroll-view__content {
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  &--hidden, &--hide {
    .cc__scroll-view__scrollbar {
      display: none;
    }
  }

  &:hover, &:active {
    .cc__scroll-view__scrollbar {
      opacity: 1;
    }
  }
}

.chayns-color-mode--1 {
  .cc__scroll-view__scrollbar {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .cc__scroll-view__scrollbar:hover,
  .cc__scroll-view--grabbed .cc__scroll-view__scrollbar {
    background-color: rgba(255, 255, 255, 0.3);
  }
}