.cc__rfid-input {
  &__wrapper {
    display: flex;

    .cc__rfid-input__input {
      flex-grow: 1;
      margin-right: 20px;
    }
  }
  &__control {
    text-align: center;
    margin: 15px 0;
  }

  &--enable-scan {
    .cc__rfid-input__scan, .cc__rfid-input__confirm {
      width: 52px;
      box-sizing: content-box;
    }
  }
}