  .marker {
      height: 21px;
      width: 21px;
      margin: 5px 3px 4px -1px;
  }

  .MapBorder {
      border: 1px solid #dbe2f1;
      border-bottom-color: transparent;
      border-radius: 2px;
      border-bottom: 0px;
  }

  #map_comp #map__comp--overlay {
      height: 50px;
      display: flex;
      align-items: center;
      padding: 0 10px;
      box-shadow: 0px -3px 14px -6px rgba(0, 0, 0, 0.4);
      position: absolute;
      z-Index: 10;
      top: 226px;
      width: 100%;
      border: 1px solid #dbe2f1;
      border-top: 0px;
  }

  #map_comp #map__comp--overlay input {
      width: 100%;
      display: flex;
      justify-content: left;
      }

  .markerImg {
      position: absolute;
      width: 40px;
      pointer-events: none;
      z-index: 10;
      top: 50%;
      transform: translate3d(0, calc(-50% - 50px), 0);
  }

  .gm-style div a[title='Klicken, um diese Region in Google Maps anzuzeigen'] {
      display: none !important;
  }

  .markerSelect {
      position: relative;
      top: 0;
      bottom: 0;
      transform: translate3d(0, 0, 0);
      width: 25px;
      margin: 0 0px 0 2px;
  }
  .faIconC{
      position: absolute;
      color: white;
      width: 10px !important;
      height: 10px !important;
      right: 3px;
      top: 3px;
  }
  #mapMarkerC{
        position: relative;
        display: flex;
        align-content: center;
        margin-right: 5px;
  }
  .markerDiv{
      cursor: pointer !important;
  }
