.list-item {
  &__header {
    display: flex;
    flex-direction: row;
  }

  &__image {
    width: 40px;
    height: 40px;

    background-size: cover;
    background-position: center;

    outline: 1px solid rgba(0,0,0,.08);

    margin-right: 10px;

    flex-shrink: 0;
  }

  &__titles {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    min-width: 0;
  }

  &__subtitle {
    font-size: 85%;
  }

  &__spacer {
    flex-grow: 1;
  }

  &__right {
    min-width: 0;
    flex-shrink: 0;
  }

  &__indicator {
    flex-shrink: 0;
  }

  &--expanded {
    .list-item__titles {
      font-weight: bolder;
    }

    .list-item__indicator {
      width: 30px;
      height: 20px;

      padding-right: 5px;
      padding-left: 5px;

      align-self: center;

      .svg-inline--fa {
        transition: transform .3s;
        transform: rotate(90deg);
      }
    }
  }
}