$track-color: #FFFFFF; // chayns__background-color--headline
$track-indicator-color: #426aad;// chayns__background-color--108

.cc__progress-bar {
  .cc__progress-bar__track {
    display: block;
    position: relative;
    border-radius: 2px;
    height: 10px;
    overflow: hidden;
    background-color: $track-color;
  }

  .cc__progress-bar__indicator {
    position: absolute;

    background-color: $track-indicator-color;

    height: 100%;
    left: 0;
    top: 0;
  }

  &--determinate {
    .cc__progress-bar__indicator {
      transition: width .3s;
    }
  }

  &--indeterminate {
    .cc__progress-bar__indicator {
      width: 100%;

      &:before, &:after {
        content: "";
        width: 100%;
        background: linear-gradient(
                90deg,
                transparent 0,
                transparent 25%,
                rgba($track-color, 0.8) 26%,
                rgba($track-color, 0.8) 75%,
                transparent 76%,
                transparent
        );
        height: 100%;
        position: absolute;
        z-index: 2;
      }

      &:before {
        animation: cc__progress-bar__indeterminate-1 1s infinite linear;
      }

      &:after {
        animation: cc__progress-bar__indeterminate-2 1s infinite linear;
      }
    }
  }
}

.cc__animated-progress-bar {
  .cc__progress-bar--animation-1 {
    &-enter {
      opacity: 0;
      transform: translate3d(0,-10px,0);
      transition: opacity .3s, transform .3s;

      &-active {
        opacity: 1;
        transform: translate3d(0,0,0);
      }
    }

    &-exit {
      opacity: 1;
      transform: translate3d(0,0,0);
      transition: opacity .3s, transform .3s;

      &-active {
        opacity: 0;
        transform: translate3d(0,-10px,0);
      }
    }
  }

  .cc__progress-bar--animation-2 {
    &-enter {
      transform: translate3d(0,0,0);
      transition: transform .3s;

      &-active {
        transform: translate3d(0, -10px, 0);
      }
    }

    &-exit {
      transform: translate3d(0, -10px, 0);
      transition: transform .3s;

      &-active {
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.swipe-up-exit {
  overflow: hidden;
  transition: max-height .5s;
  max-height: 20px;

  &-active {
    max-height: 0;
  }
}

@keyframes cc__progress-bar__indeterminate-1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes cc__progress-bar__indeterminate-2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
