.cc__search-box {
  cursor: pointer;

  &__item {
    padding: 4px 10px;

    &--selected, &:hover {
      background: var(--chayns-color--102);
    }
  }

  &--disabled{
    pointer-events: none;
    user-select: none;
  }
}
