.cc_overlay-parent {
    *,
    *::after,
    *::before {
        box-sizing: border-box;
        pointer-events: auto;
    }

    position: absolute;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
