.cc__color-picker {
    display: flex;
    align-items: center;
    cursor: pointer;

    &__color-circle {
        width: 15px;
        height: 15px;
        border-radius: 100%;
        margin-right: 5px;

        // checkerboard
        &:before {
            content: '';
            background-color: #ffffff;
            background-image: linear-gradient(
                    45deg,
                    #a0a0a0 25%,
                    transparent 25%
                ),
                linear-gradient(-45deg, #a0a0a0 25%, transparent 25%),
                linear-gradient(45deg, transparent 75%, #a0a0a0 75%),
                linear-gradient(-45deg, transparent 75%, #a0a0a0 75%);
            background-position: 0 0, 0 4px, 4px -4px, -4px 0px;
            background-size: 8px 8px;
            background-repeat: repeat;
            width: inherit;
            height: inherit;
            position: absolute;
            border-radius: inherit;
            z-index: -1;
        }

        &:after {
            content: '';
            background-color: inherit;
        }
    }

    &__color-link {
        border-bottom-width: 1px;
        border-bottom-style: dashed;
    }

    &__bubble-content {
        overflow: hidden;
    }
}
