$fade-in-time: .65s;
$fade-out-time: .65s;

.inspect-element-animation .modal {
  &--enter .modal--overlay {
    background-color: rgba(0, 0, 0, 0);
  }

  &--enter--active .modal--overlay {
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color $fade-in-time - 0.1s ease;
  }

  &--leave .modal--overlay {
    background-color: rgba(0, 0, 0, 0.8);
  }

  &--leave--active .modal--overlay {
    background-color: rgba(0, 0, 0, 0);
    transition: background-color $fade-out-time - 0.1s ease;
  }

  &--overlay {
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    will-change: background-color;

    background-color: rgba(0, 0, 0, 0.8);
    //transition: background-color $fade-in-time;
  }
}

.inspect-element-animation .modal--left {
  &.modal--enter .modal--content {
    transform: translateX(0);
  }

  &.modal--enter--active .modal--content {
    left: 50% !important;
    transform: translateX(-50%);
  }

  &.modal--leave .modal--content {
    left: 50% !important;
    transform: translateX(-50%);
  }

  &.modal--leave--active .modal--content {
    transform: translateX(0);
  }


  .modal--content {
    position: fixed;
    transition: left $fade-in-time, transform $fade-in-time, width $fade-in-time;

    will-change: left, transform, width;
  }

  &.modal--visible .modal--content {
    left: 50% !important;
    transform: translateX(-50%);
  }
}



.inspect-element-animation .modal--right {
  &.modal--enter .modal--content {
    transform: translateX(0);
  }

  &.modal--enter--active .modal--content {
    right: 50% !important;
    transform: translateX(50%);
  }

  &.modal--leave .modal--content {
    right: 50% !important;
    transform: translateX(50%);
  }

  &.modal--leave--active .modal--content {
    transform: translateX(0);
  }


  .modal--content {
    position: fixed;
    transition: right $fade-in-time, transform $fade-in-time, width $fade-in-time;

    will-change: right, transform, width;
  }

  &.modal--visible .modal--content {
    right: 50% !important;
    transform: translateX(50%);
  }
}