.cc_color-selection {
    &--inner {
        display: flex;
        flex-wrap: wrap;
    }

    &--wrapper {
        position: relative;
        margin: 4px;
    }

    &--active {
        position: absolute;
        width: 26px;
        height: 26px;
        top: -2px;
        left: -2px;
        border-radius: 100%;
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7);
    }

    &__color {
        &--wrapper {
            position: relative;
            padding: 2px;
            width: 22px;
            height: 22px;
            border-radius: 100%;
            cursor: pointer;
            overflow: hidden;
            outline: 1px solid rgba(255, 255, 255, 0.3);
        }
    }

    &__color {
        border: 100px solid var(--color);
        background: var(--color);
        inset: 0px;
        position: absolute;
        z-index: 2;
    }

    &__transparency {
        background-image: linear-gradient(45deg, #a0a0a0 25%, transparent 25%),
            linear-gradient(-45deg, #a0a0a0 25%, transparent 25%),
            linear-gradient(45deg, transparent 75%, #a0a0a0 75%),
            linear-gradient(-45deg, transparent 75%, #a0a0a0 75%);
        background-position: 0 0, 0 4px, 4px -4px, -4px 0px;
        background-size: 8px 8px;
        background-repeat: repeat;
        position: absolute;
        inset: 0px;
    }

    //&__color:before {
    //    content: '';
    //    opacity: 1;
    //    background-color: #ffffff;
    //    background-image: linear-gradient(45deg, #a0a0a0 25%, transparent 25%),
    //    linear-gradient(-45deg, #a0a0a0 25%, transparent 25%),
    //    linear-gradient(45deg, transparent 75%, #a0a0a0 75%),
    //    linear-gradient(-45deg, transparent 75%, #a0a0a0 75%);
    //    background-position: 0 0, 0 4px, 4px -4px, -4px 0px;
    //    background-size: 8px 8px;
    //    background-repeat: repeat;
    //    border: none;
    //    height: inherit;
    //    width: inherit;
    //    position: absolute;
    //    overflow: hidden;
    //    top: 0;
    //    left: 0;
    //    z-index: -1;
    //    border-radius: inherit;
    //    transform: none;
    //}
}
