.selectlist__selectitem {
  overflow: hidden;
  will-change: max-height;
  max-height: 9999px;
  height: auto !important; }
  .selectlist__selectitem.react-fade-enter {
    max-height: 0;
    transition: max-height 0.5s cubic-bezier(0.5, 0, 1, 0); }
  .selectlist__selectitem.react-fade-enter-active {
    max-height: 9999px !important; }
  .selectlist__selectitem.react-fade-leave {
    max-height: 9999px;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1); }
  .selectlist__selectitem.react-fade-leave-active {
    max-height: 0 !important; }
  .selectlist__selectitem .selectitem__content {
    margin-left: 20px;
    margin-bottom: 15px; }
