.message--input--box {
  position: relative;

  .input--placeholder {
    -webkit-transition: opacity .35s ease-in-out;
    transition: opacity .35s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    position: absolute;
    user-select: none;
    font-weight: 400;
    padding: 4px 8px;
    color: #757575;
    font-size: 85%;
    opacity: 1;
    left: 1px;
    top: 3px;
  }

  .input--placeholder.invisible {
    opacity: 0 !important;
  }

  .message--input {
    font-weight: 400 !important;
    word-break: break-word;
    max-height: 100px;
    min-height: 33px;
    overflow-y: auto;

    &.hide--border {
      border: none;
    }

    &.input--disabled {
      background-color: transparent;
      border: 1px solid transparent;
      border-bottom-color: #5c646c;
      padding: 4px 8px;
      font-weight: 300;
      box-shadow: none;
      border-radius: 0;
      color: #e8e8e8;
    }

    .emojione {
      font-size: inherit;
      height: 3ex;
      width: auto;
      min-height: 15px;
      min-width: 15px;
      display: inline-block;
      margin: -.2ex .15em .2ex;
      line-height: normal;
      vertical-align: middle;
    }
  }

  .message--input:focus + .input--placeholder {
    opacity: 0 !important;
  }
}
