.emoji-input {
  position: relative;
  line-height: 26px;

  &__placeholder {
    -webkit-transition: opacity .35s ease-in-out;
    transition: opacity .35s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    position: absolute;
    user-select: none;
    font-weight: 400;
    padding: 4px 8px;
    color: #757575;
    opacity: 1;
    left: 1px;
    top: 1px;

    &--hidden {
      opacity: 0 !important;
    }
  }

  &__message-input {
    font-weight: 400 !important;
    word-break: break-word;
    min-height: 36px;
    overflow-y: auto;

    &--hide-border {
      border: none;
    }

    &--disabled {
      background-color: transparent;
      border: 1px solid transparent;
      border-bottom-color: #5c646c;
      padding: 4px 8px;
      font-weight: 300;
      box-shadow: none;
      border-radius: 0;
      color: #e8e8e8;
    }

    &:focus + .emoji-input__placeholder {
      opacity: 0 !important;
    }

    .emojione {
      margin: -.2ex .15em .2ex;
      vertical-align: middle;
      display: inline-block;
      line-height: normal;
      font-size: inherit;
      min-height: 15px;
      min-width: 15px;
      height: 3ex;
      width: auto;
    }
  }
}
