.cc__gallery {
  display: flex;
  flex-wrap: wrap;
  user-select: none;


  &__image {
    width: 33.333%;
    display: inline-block;
    padding: 1px;
    margin: 0;

    &--cover, img {
      width: 100%;
      height: 100%;
    }
  }
}
