.example-child {
  &.enter {
    transition: width .65s;
  }

  width: 100%;
  float: left;
}

.chayns--desktop .example-child {
  padding: 14px;
}

.inspect-element-animation {
  width: 40% !important;
  display: inline-block;
}

.modal--content {
  transition: width .65s;
}