.input-group {
  position: relative;

  input,
  textarea {
    display: inline-block;

    &.input[required] {
      width: 100%;

      & + label {
        position: absolute;
        text-align: right;
        top: 0;
        margin: 6px 8px;
        left: 0;
        right: 100%;
        font-size: 85%;
        white-space: nowrap;
        // color: $input-placeholder-color;
        pointer-events: none;
        transition: all .3s ease-out;
        opacity: 1;
      }

      &[validate]:not(.valid) + label {
        // color: $input-placeholder-required-color !important;
        font-weight: 700;
      }

      &:valid,
      &:focus,
      &[readonly] {
        & + label {
          right: 0;
          left: 0;
        }
      }

      .chayns--app &:valid + label,
      .chayns--app &:focus + label,
      .chayns--app &[readonly] + label {
        opacity: 0;
        left: 0;
        right: 100%;
      }
    }
  }
}

.chayns-browser--edge .input-group {
  input,
  textarea {
    &.input[required] + label {
      font-size: 100%;
    }
  }
}