name: Publish to NPM (v5)

on:
  workflow_dispatch:
  push:
    tags:
      - 'v5.[0-9]+.[0-9]+'
      - 'v5.[0-9]+.[0-9]+-alpha.[0-9]+'
      - 'v5.[0-9]+.[0-9]+-beta.[0-9]+'

permissions:
  id-token: write  # Required for OIDC
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest

    env:
      API_TOKEN_KEY: ${{ secrets.API_TOKEN_KEY }}
      API_TOKEN_SECRET: ${{ secrets.API_TOKEN_SECRET }}
      TAG: >-
        ${{ contains(github.ref_name, 'alpha') && 'alpha' || (contains(github.ref_name, '-') &&
        'beta' || 'latest') }}

    steps:
      - name: Checkout branch
        uses: actions/checkout@v4

      - name: Build packages
        uses: ./.github/actions/lerna-build

      - name: Publish packages
        run: lerna publish from-package --yes --dist-tag ${{ env.TAG }}

      - name: Generate and upload docs
        run: npm run docs

  deploy:
    needs: publish
    uses: ./.github/workflows/storybook.yml
    with:
      ref: ${{ github.ref }}
    secrets: inherit
