name: Publish to NPM (v5)

on:
    workflow_dispatch:
    push:
        tags:
            - 'v5.[0-9]+.[0-9]+-beta.[0-9]+'

jobs:
    build:
        runs-on: ubuntu-latest
        env:
            API_TOKEN_KEY: ${{ secrets.API_TOKEN_KEY }}
            API_TOKEN_SECRET: ${{ secrets.API_TOKEN_SECRET }}
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: '20.15.1'
                  registry-url: https://registry.npmjs.org/
            - name: Install dependencies
              run: npm ci
            - name: Build packages
              run: npm run lerna:build
            - name: Publish packages
              run: lerna publish from-package --yes
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
            - name: Generate and upload docs
              run: npm run docs

